.btn {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  outline: none;
  padding: 0 20px;
  transition: all 150ms;

  &-primary {
    color: $clr-white;
    background-color: rgba($clr-btn-primary, 0.65);

    &:hover,
    &:focus {
      background-color: rgba($clr-btn-primary, 0.85);
    }

    &:active {
      background-color: rgba($clr-btn-primary, 1);
    }
  }
}

.admin-login {
  &__submit {
    margin-top: 15px;
    text-transform: uppercase;
    width: 100%;
  }
}
