input {
  border: 1px solid $clr-border-default;
  outline: none;
  max-width: 300px;
  padding: 0 15px;
  width: 100%;

  &:focus {
    border: 1px solid $clr-border-active;
  }
}

.admin-login {
  &__field {
    margin-top: 15px;

    &.field-error {
      &,
      &:focus {
        border: 1px solid $clr-error-red;
      }
    }
  }
}
